<!-- This from bootstrap example pricing custom component
https://getbootstrap.com/docs/5.1/examples/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
      <!-- added css to html -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Tech Recursion</title>
  </head>
<body>
    <div class=" bg-nav text-light d-flex flex-column flex-md-row align-items-center p-3 px-mb-4 mb-3 border-bottom">
      <h5 class="my-0 mr-md-auto font-weight-normal">Tech Recursion</h5>
        <nav class=" d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="p-2 text-light" href="#">Home</a>
            <a class="p-2 text-light" href="#">Setting</a>
            <a class="p-2 text-light" href="#">Analysis</a>
            <a class="p-2 text-light" href="#">Profile</a>
        </nav>
        <a class="text-light btn btn-outline-primary " href="/logout">Log Out</a>
    </div>
        <div class="container">
            <h1 class="page-title">We're coming soon</h1>
            <p class="page-description">Just Wait</p>
            <p>Stay connected</p>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>